<div class="col-12">
  <div class="card">
    <form
      class="flex flex-row gap-3 mb-1"
      [formGroup]="formGroup"
    >
      <div>Chế độ xem</div>
      <div
        *ngFor="let item of viewMode"
        class="field-checkbox"
      >
        <p-radioButton
          [inputId]="item.key"
          [value]="item"
          formControlName="selectedCategory"
        />
        <label
          [for]="item.key"
          class="ml-2"
        >
          {{ item.name }}
        </label>
      </div>
    </form>

    <div class="timetable-container">
      <table class="timetable-edit">
        <thead>
          <tr>
            <th>Thứ</th>
            <th>Tiết</th>
            @for (klass of classes; track $index) {
              <th>{{ klass?.className }}</th>
            }
          </tr>
        </thead>
        <tbody>
          @for (startAt of startAts; track $index) {
            <tr>
              @if (startAt % 10 === 1) {
                <th
                  rowspan="10"
                  class="cell-weekday"
                >
                  <div>
                    <div>{{ 'Thứ ' + (startAt / 10 + 2) }}</div>
                  </div>
                </th>
              }
              <th class="cell-startAt">
                {{ onHandelStartAt(startAt) }}
              </th>
              @for (klass of classes; track $index) {
                <th
                  pDraggable
                  (onDragStart)="
                    onDragStart(timetableUnits[klass.className][startAt])
                  "
                  (onDragEnd)="onDragEnd()"
                  pDroppable
                  (onDrop)="onDrop(timetableUnits[klass.className][startAt])"
                  class="cell-dnd"
                  [ngClass]="
                    onHandelStartAt(startAt) > 5
                      ? 'cell-dnd-afternoon'
                      : 'cell-dnd-morning'
                  "
                >
                  <div>
                    <div>
                      {{
                        timetableUnits[klass.className][startAt]?.subjectName
                      }}
                    </div>
                  </div>
                </th>
              }
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
