<!-- eslint-disable @angular-eslint/template/elements-content -->
<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <!-- Tooolbar -->
      <p-toolbar styleClass="mb-4">
        <!-- Action Buttons: Add, Delete -->
        <ng-template pTemplate="left">
          <div class="my-2">
            <button
              pButton
              pRipple
              label="Thêm"
              icon="pi pi-plus"
              class="p-button-success mr-2"
            ></button>
            <button
              pButton
              pRipple
              label="Xóa"
              icon="pi pi-trash"
              class="p-button-danger mr-2"
            ></button>
          </div>
        </ng-template>

        <!-- Action Buttons: Export -->
        <ng-template pTemplate="right">
          <p-fileUpload
            mode="basic"
            accept="image/*"
            [maxFileSize]="1000000"
            label="Import"
            chooseLabel="Import"
            class="mr-2 inline-block"
          ></p-fileUpload>
          <button
            pButton
            pRipple
            label="Export"
            icon="pi pi-upload"
            class="p-button-help"
          ></button>
        </ng-template>
      </p-toolbar>

      <!-- Table data -->
      <p-table
        *ngIf="result"
        #dt
        [value]="result.data"
        [lazy]="true"
        (onLazyLoad)="onLoadClasses($event)"
        styleClass="p-datatable-gridlines"
        [tableStyle]="{ 'min-width': '50rem' }"
        responsiveLayout="scroll"
        [paginator]="true"
        [rows]="10"
        [totalRecords]="pagination.totalCount"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Hiển thị từ {first} đến {last} của mục {totalRecords}"
        [rowsPerPageOptions]="[10, 20, 30]"
        [resizableColumns]="true"
        [loading]="loading"
        selectionMode="multiple"
        [rowHover]="true"
        dataKey="id"
      >
        <ng-template pTemplate="caption">
          <div
            class="flex flex-column md:flex-row md:justify-content-between md:align-items-center gap-2"
          >
            <h5 class="m-0">Danh sách lớp học</h5>

            <div class="flex gap-2">
              <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input
                  pInputText
                  type="text"
                  [value]="searchClass"
                  placeholder="Tìm kiếm..."
                  (keyup)="onSearch(getSearchValue($event))"
                  class="w-full sm:w-auto"
                />
              </span>
              <button
                pButton
                label="Clear"
                class="p-button-outlined"
                icon="pi pi-filter-slash"
                (click)="clear()"
              ></button>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr class="text-center">
            <th
              style="width: 3rem"
              class="text-center"
            >
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th
              pSortableColumn="firstName"
              class="text-center"
            >
              Họ
              <p-sortIcon field="firstName"></p-sortIcon>
            </th>
            <th
              pSortableColumn="middleName"
              class="text-center"
            >
              Tên đệm
              <p-sortIcon field="middleName"></p-sortIcon>
            </th>
            <th
              pSortableColumn="lastName"
              class="text-center"
            >
              Tên
              <p-sortIcon field="lastName"></p-sortIcon>
            </th>
            <th
              pSortableColumn="shortName"
              class="text-center"
            >
              Ký hiệu
              <p-sortIcon field="shortName"></p-sortIcon>
            </th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template
          pTemplate="body"
          let-teacher
        >
          <tr>
            <td class="text-center">
              <p-tableCheckbox [value]="teacher"></p-tableCheckbox>
            </td>
            <td
              style="width: 19.6%; min-width: 10rem"
              class="text-center"
            >
              <span class="p-column-title">Họ</span>
              {{ teacher.firstName }}
            </td>
            <td
              style="width: 19.6%; min-width: 10rem"
              class="text-center"
            >
              <span class="p-column-title">Tên đệm</span>
              {{ teacher.middleName }}
            </td>
            <td
              style="width: 19.6%; min-width: 10rem"
              class="text-center"
            >
              <span class="p-column-title">Tên</span>
              {{ teacher.lastName }}
            </td>
            <td
              style="width: 19.6%; min-width: 10rem"
              class="text-center"
            >
              <span class="p-column-title">Ký hiệu</span>
              {{ teacher.shortName }}
            </td>

            <td class="text-justify">
              <div class="flex align-items-center justify-content-center gap-2">
                <button
                  pButton
                  pRipple
                  icon="pi pi-pencil"
                  class="p-button-rounded p-button-success"
                ></button>
                <button
                  pButton
                  pRipple
                  icon="pi pi-trash"
                  class="p-button-rounded p-button-warning"
                ></button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
