<!-- eslint-disable @angular-eslint/template/elements-content -->
<div class="grid">
  <div class="col-12">
    <div class="">
      <p-toolbar styleClass="mb-4 p-4">
        <!-- ! Action Buttons: Create, Delete -->
        <ng-template pTemplate="left">
          <p-dropdown
            [options]="grades"
            [(ngModel)]="selectedGrade"
            placeholder="Select a City"
            (onChange)="onGradeChange($event)"
          />
        </ng-template>

        <!-- ! Action Buttons: Upload, Export -->
        <ng-template pTemplate="right">
          <!-- @ Export File -->
          <div class="export-wrapper">
            <p-splitButton
              label="Xuất file"
              icon="pi pi-upload"
              (onClick)="exportItem[0].command.call(this)"
              [model]="exportItem"
            />
          </div>
        </ng-template>
      </p-toolbar>

      <div class="timetable-container">
        <table class="timetable-edit">
          <thead>
            <tr>
              <th>Thứ</th>
              <th>Tiết</th>
              @for (className of classNames; track $index) {
                <th>{{ className }}</th>
              }
            </tr>
          </thead>
          <tbody>
            @for (startAt of startAts; track $index) {
              <tr>
                @if (startAt % 10 === 1) {
                  <th
                    rowspan="10"
                    class="cell-weekday"
                  >
                    <div>
                      <div>
                        {{ 'Thứ ' + convertNumFloor(startAt / 10 + 2) }}
                      </div>
                    </div>
                  </th>
                }
                <th class="cell-startAt">
                  {{ onHandelStartAt(startAt) }}
                </th>
                @for (className of classNames; track $index) {
                  <th
                    class="cell-dnd"
                    [ngClass]="
                      onHandelStartAt(startAt) > 5
                        ? 'cell-dnd-afternoon'
                        : 'cell-dnd-morning'
                    "
                    (click)="
                      timetableUnits[className][startAt]?.constraintErrors
                        .length > 0
                        ? op1.toggle($event)
                        : null
                    "
                  >
                    <div
                      [class.constraint-error-0]="
                        timetableUnits[className][startAt]?.constraintErrors
                          .length > 0 &&
                        !isHardConstraint(
                          timetableUnits[className][startAt]?.constraintErrors
                        )
                      "
                      [class.constraint-error-1]="
                        timetableUnits[className][startAt]?.constraintErrors
                          .length > 0 &&
                        isHardConstraint(
                          timetableUnits[className][startAt]?.constraintErrors
                        )
                      "
                    >
                      <div>
                        {{
                          getNameAssignment(timetableUnits[className][startAt])
                        }}
                      </div>

                      <p-overlayPanel #op1>
                        <div class="flex flex-column gap-3 w-25rem">
                          <ul>
                            @for (
                              error of timetableUnits[className][startAt]
                                ?.constraintErrors;
                              track $index
                            ) {
                              <li
                                [class.constraint-error-0]="
                                  error?.isHardConstraint === false
                                "
                                [class.constraint-error-1]="
                                  error?.isHardConstraint === true
                                "
                              >
                                {{ getStringConstraintError(error) }}
                              </li>
                            }
                          </ul>
                        </div>
                      </p-overlayPanel>
                    </div>
                  </th>
                }
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
