<div class="tableContainer">
  <table class="vjTable">
    <thead>
      <tr>
        <th>Thứ</th>
        <th>Tiết</th>
        @for (className of classes; track $index) {
          <th>{{ className }}</th>
        }
      </tr>
    </thead>
    <tbody>
      @for (startAt of array; track $index) {
        <tr>
          @if (startAt % 10 === 1) {
            <th rowspan="10">
              <div class="tableCell">
                <div>{{ 'Thứ ' + (startAt / 10 + 2) }}</div>
              </div>
            </th>
          }
          <th>{{ startAt }}</th>
          @for (className of classes; track $index) {
            <th
              pDraggable
              (onDragStart)="
                dragStart(data1[className][startAt], className, startAt)
              "
              (onDragEnd)="dragEnd()"
              pDroppable
              (onDrop)="drop(data1[className][startAt], className, startAt)"
            >
              <div class="tableCell">
                <div>{{ data1[className][startAt]?.subjectName }}</div>
              </div>
            </th>
          }
        </tr>
      }
    </tbody>
  </table>
</div>
