<!-- eslint-disable @angular-eslint/template/elements-content -->
<smsedu-crud
  [columns]="columns"
  [data]="result?.data ?? []"
  [pagination]="pagination"
  [loading]="loading"
  [isToolBar]="true"
  [isCreate]="true"
  [isUploadFile]="true"
  [isSelected]="true"
  title="Danh sách môn học"
  [searchString]="searchClass"
  [searchText$]="searchText$"
  [onCreate]="onShowDialogForCreate.bind(this)"
  [customActions]="customActions"
  (lazyLoad)="onLoadClasses($event)"
  [onDeleteCollection]="onDeleteClasses.bind(this)"
/>

<smsedu-subject-dialog-for-create-update (save)="onSave()" />
