<!-- eslint-disable @angular-eslint/template/elements-content -->
<smsedu-crud
  [columns]="columns"
  [data]="data"
  [pagination]="pagination"
  [loading]="loading"
  [isToolBar]="true"
  [isCreate]="true"
  [isUploadFile]="true"
  [isSelected]="true"
  title="Danh sách lớp học"
  [searchString]="searchClass"
  [searchText$]="searchText$"
  [onCreate]="onShowDialogForCreate.bind(this)"
  [onDeleteCollection]="onDeleteClasses.bind(this)"
  [customActions]="customActions"
  (lazyLoad)="onLoadClasses($event)"
  (selectFile)="onSelect($event)"
  (uploadFile)="onUpload($event)"
/>

<smsedu-class-dialog-for-create-update (save)="onSave()" />

<!-- * Dialog: Add Class Collection -->
<smsedu-class-diaglog-for-create-collection
  [excelData]="excelData"
  (clear)="onClear()"
/>
