<p-autoComplete
  [(ngModel)]="selectedItem"
  (ngModelChange)="onSelectedChange($event)"
  [lazy]="true"
  [dropdown]="true"
  [suggestions]="suggestions"
  [minLength]="2"
  [maxlength]="10"
  [virtualScroll]="true"
  [virtualScrollOptions]="options"
  [autoHighlight]="true"
  [showEmptyMessage]="true"
  field="fullName"
  emptyMessage="Không tìm thấy giáo viên."
  (completeMethod)="onSearch($event)"
  (onDropdownClick)="onDropdownClick($event)"
  (onSelect)="onSelect($event, currentItem)"
  appendTo="body"
  scrollHeight="200px"
/>
