.timetable-view-container {
  font-size: 11px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  .timetable-view-morning {
    width: 100%;
    padding: 1px;
    border: 2px solid $primaryColor;

    thead {
      background: $primaryColor;
      color: $primaryTextColor;
    }
    tbody {
      .cell-weekday {
        background: $primaryColor;
        color: $primaryTextColor;
      }

      .cell-startAt {
        border: 1px solid $primaryColor;
      }

      .cell-dnd {
        border: 1px solid $primaryColor;
        cursor: pointer;
        position: relative;

        .timetable-unit {
          .timetable-unit-constraint {
            display: none;
            position: absolute;
            height: 250px;
            width: 250px;
            top: -258px;
            right: -250px;
            background: blue;
            z-index: 1 !important;
          }
        }
      }

      .cell-dnd:hover {
        .timetable-unit {
          .timetable-unit-constraint {
            display: block;
            z-index: 1 !important;
          }
        }
      }
    }
  }

  .timetable-view-afternoon {
    width: 100%;
    padding: 1px;
    border: 2px solid var(--orange-300);

    thead {
      background: var(--orange-300);
      color: $primaryTextColor;
    }
    tbody {
      .cell-weekday {
        background: var(--orange-300);
        color: $primaryTextColor;
      }

      .cell-startAt {
        border: 1px solid var(--orange-300);
      }

      .cell-dnd {
        border: 1px solid var(--orange-300);
        cursor: pointer;
      }
    }
  }
}

.timetable-view {
  .card {
    border: 1px solid #dee2e6;
  }
}
