<div class="layout-footer">
  <div class="logo-text">
    <img
      src="assets/layout/images/logo@2x.png"
      alt="SMSEdu-logo"
    />
    <div class="text">
      <h1>SMSEdu</h1>
      <span>Website tạo tự động thời khóa biểu</span>
    </div>
  </div>
  <!-- <div class="icons">
    <div class="icon icon-hastag">
      <i class="pi pi-home"></i>
    </div>
    <div class="icon icon-twitter">
      <i class="pi pi-globe"></i>
    </div>
    <div class="icon icon-prime">
      <i class="pi pi-bookmark"></i>
    </div>
  </div> -->
</div>
